# Virtual environment
sigmavenv/

# Environment variables
.env

# Service account key
sigma-serviceAccountKey.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test results
.coverage
htmlcov/
